version: '3'
services:
  web-frontend:
    build: 'frontend'
    image: 'web-frontend'
    ports:
       - '80:80'
  web-files-anatawa12-com:
    build: 'files'
    image: 'web-files-anatawa12-com'
  web-nico-ranking-anatawa12-com:
    image: 'ghcr.io/anatawa12/zip-http-server'
    volumes: 
      - './resources/nico-ranking.zip:/root.zip'
