version: '3'
services:
  web-frontend:
    build: 'frontend'
    image: 'web-frontend'
    restart: 'unless-stopped'
    ports:
       - '80:80'
       - '443:443'
    volumes: 
      - './resources/main.crt:/ssl/main.crt'
      - './resources/main.key:/ssl/main.key'
    networks:
      - vrcinfo-db_default
      - default
  web-api-anatawa12-com:
    build: 'api'
    image: 'web-api-anatawa12-com'
    restart: 'unless-stopped'
    environment:
      VIRTUAL_HOST: api.anatawa12.com
  web-nico-ranking-anatawa12-com:
    image: 'ghcr.io/anatawa12/zip-http-server'
    restart: 'unless-stopped'
    volumes: 
      - './resources/nico-ranking.zip:/root.zip'
    environment:
      VIRTUAL_HOST: nico-ranking.anatawa12.com
  web-ppcm-anatawa12-com:
    image: 'php:8-apache'
    restart: 'unless-stopped'
    volumes: 
      - './resources/ppcm:/var/www/html'
    environment:
      VIRTUAL_HOST: ppcm.anatawa12.com

  web-wiki-fixrtm-anatawa12-com:
    image: ghcr.io/fixrtm/wiki-js-for-fixrtm:v2.5.292-fixrtm-3
    restart: unless-stopped
    depends_on: [db-wiki-fixrtm]
    environment:
      DB_TYPE: postgres
      DB_HOST: db-wiki-fixrtm
      DB_PORT: 5432
      DB_NAME: wiki
      DB_USER: wikijs
      DB_PASS: wikijsrocks
      VIRTUAL_HOST: wiki-fixrtm.anatawa12.com
      VIRTUAL_PORT: 3000
  db-wiki-fixrtm:
    image: postgres:11-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: wiki
      POSTGRES_USER: wikijs
      POSTGRES_PASSWORD: wikijsrocks
    volumes:
      - db-wiki-fixrtm-data:/var/lib/postgresql/data

volumes:
  db-wiki-fixrtm-data:

networks:
  vrcinfo-db_default:
    external: true
